<base href="/">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogs</title>
    <link rel="stylesheet" href="css/blogpage.css">
</head>
<body>
    <header>
        <a id="log-in"" href="/homepage">Mortal's Blog</a>
    </header>
    <div>
        <!-- blogId is subtracting one becuase object indexes start at 0 and page indexes start at 1-->
        <% if(data[blogId-1]) { %>
            <h1><%= data[blogId-1].title %></h1>
            <h2><%= data[blogId-1].date %></h2>
            <p><%= data[blogId-1].body %></p>
        <% } else { %>
            <p>No blog posted yet! Comeback later!</p>
        <% } %>
    </div>  
	<script src="blogPage.js"></script>
</body>
</html>