<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enter new blog here</title>
    <link rel="stylesheet" href="css/newBlog.css">
  </head>
  <body>
<h1>New blog page</h1>
  <form action="/newBlogPage" method="POST">
    <label for="Blog Title"></label>
      <input type="text" name="blogTitle" id="">
    <label for="Blog Main Content"></label>
      <input type="text" name="blogContent" id="">
    <button name="submit" id="submit-blog-button">Submit</button>
  </form>
	<script src="newBlogPage.js"></script>
  </body>
</html>