@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
:root{
    --text-clr: #e0f7ec;
    --background-clr: #040e09;
    --primary-clr: #8de2b7;
    --secondary-clr: #4500a7;
    --accent-clr: #d350c9;
}

*{
    padding: 0;
    background: var(--secondary-clr);
    color: var(--text-clr);
    text-decoration: none;
    font-family: 'Sixtyfour', sans-serif;
}

/* body{
    margin-top: 5rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
} */