@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
:root{
    --text-clr: #e0f7ec;
    --background-clr: #040e09;
    --primary-clr: #8de2b7;
    --secondary-clr: #4500a7;
    --accent-clr: #d350c9;
}

*{
    padding: 0;
    margin: 0;
    background: var(--secondary-clr);
    color: var(--text-clr);
    text-decoration: none;
    font-family: 'Sixtyfour', sans-serif;
}
/* Header Content */
header{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;

    padding-top: 2rem;
    position: fixed;
    top: 0;
    min-width: 98%;
    margin: 1rem;

	align-items: center;
    font-size: 2rem;

}
/* Header Content/Blog Title */
a{
    color: var(--accent-clr);
}
a:hover{
    color: var(--primary-clr)
}

/* Blog */

div{
    margin-top: 10rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
h1{
    font-size: 3rem;
}
p{
    /* --minFontSize: .5rem;
    --maxFontSize: 5rem;
    --scaler: 2rem;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) ); */
    margin: 5rem 12rem 12rem 12rem;
    font-size: 2.2rem;
}
p:first-letter{
    color: var(--accent-clr);
    font-size: 8rem;
}

footer{
    position: fixed;
    bottom: 0;
    min-width: 96%;
    padding: 1.2rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: flex-end;
}


@media (max-width: 1024px) {
    p{
        margin: 3rem;
        margin-bottom: 5rem;
    }
}
/* ///////////// */
@media (max-width: 768px) {
    p{
        margin: 2rem;
        font-size: 1.5rem;
    }
}
/* ///////////// */
@media (max-width: 425px) {
    header{
        margin: 0rem;
        font-size: 2rem;
    }
    p{
        margin: 1rem;
        font-size: .7rem;
    }
    p:first-letter{
        font-size: 3rem;
    }    
    h1{
        font-size: 1.2rem;
    }
    footer{
        font-size: .9rem;
    }
}

