:root{
    --text-clr: #e0f7ec;
    --background-clr: #040e09;
    --primary-clr: #8de2b7;
    --secondary-clr: #4e238b;
    --accent-clr: #d350c9;
}

*{
    padding: 0;
    background: var(--secondary-clr);
    color: var(--text-clr);
}
